<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifeistech.android.schoolseventeen.junjun.spicekigen">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/stakke"
        android:label="spICE"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MemoActivity" />
        <activity android:name=".listActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".DesignActivity"></activity>
        <receiver
            android:name=".AlarmBroadcastReceiver"
            android:process=":remote" >
        </receiver>
    </application>

</manifest>